.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  flex: 1;
  display: flex;
}

.box {
  padding: 10px;
  margin: 10px;
  flex: 1;
  border: 1px solid plum;
  background-color: plum;
}

#top-container {
  border: 1px solid red;
  background-color: orange;
}

#box1,
#box2 {
  flex: 1;
  text-align: center;
}

#middle-container {
  justify-content: center;
  border: 2px lightblue;
  background-color: aqua;
}

#box3 {
  text-align: center;
  width: 100px;
  height: 100px;
}

#bottom-container {
  flex: 2;
}

#box5 {
  display: grid;
  grid-template-areas:
    "box6 box7"
    "box8 box9";
  border: 2px solid red;
}

#box6 {
  grid-area: box6;
  background-color: aqua;
  border: 1px solid black;
}

#box7 {
  grid-area: box7;
  background-color: gray;
  border: 1px solid black;
}

#box8 {
  grid-area: box9;
  background-color: yellow;
  border: 1px solid black;
}

#box9 {
  grid-area: box8;
  background-color: red;
  border: 1px solid black;
}
